body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: rgba(20, 185, 245);
    position: absolute;
    overflow: auto;
}

.add{
    padding: 5px;
    margin: auto;
    width: 750px;
    height: 100%;
    background-color:white;
    background-color:rgba(186, 213, 255);
    border:1px solid white;
}

.add td{
    padding:5px;
    width: 250px;
    height: 30px;
    /* background-color: white; */
    font-size:18px;
    color:rgba(14, 110, 237);
    color:rgba(32, 78, 150);
    font-weight:bold;
    /* text-shadow: 2px 2px 3px white; */
}

.add th{
    padding:10px;
    font-weight:bold;
    color:rgba(14, 110, 237);
    font-size:25px;
    text-shadow: 2px 2px 3px white;
    padding-top:10px;
    padding-bottom:10px;
}
.add input[type=text],.add select,.add input[type=password] {
    padding: 2px;
    width:200px;
    height: 25px;
    font-size: 15px;
    border:1px solid white;
    background-color:rgba(95, 153, 173);
    color:white;
}
.add textarea {
    padding: 2px;
    width:200px;
    height: 40px;
    font-size: 15px;
    border:1px solid white;
    background-color:rgba(95, 153, 173);
    color:white;
}
.add input[type=button]
{
width:100px;
height:30px;
padding:1px;
/* font-size:15px; */
color:white;
font-weight:bold;
border-radius:5px;
background-color:rgba(20, 185, 245);
/* box-shadow: 0 1px 3px 2px rgb(0, 0, 255); */
}
.add input[type=submit]:hover,.add input[type=button]:hover{
background-color:rgba(183, 204, 237);
color:rgba(32, 78, 150);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.76);
}

/* The Modal (background) */
.modal,.dialogMsg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        padding: 10px;
        margin: auto;
        width: 400px;
        background-color:white;
        background-color:rgba(186, 213, 255);
        border:1px solid white;
    }

    .model-heading {
        padding:10px;
        font-weight:bold;
        color:rgba(14, 110, 237);
        font-size:25px;
        margin: auto;
        text-align: center;
        /* text-shadow: 2px 2px 3px white; */
        padding-top:10px;
        padding-bottom:10px;
    }

    .fields {
        padding:5px;
        padding:7px;
        font-size:15px;
        color:black;
        color:rgba(32, 78, 150);
        font-weight:bold;
        /* text-shadow: 2px 2px 3px white; */
    }

    .value {
        padding:5px;
        padding:7px;
        font-size:15px;
        color:black;
    
        font-weight:bold;
    }

    .modal-content input[type=button]
    {
        width:100px;
        height:30px;
        padding:1px;
        /* font-size:15px; */
        color:white;
        font-weight:bold;
        border-radius:5px;
        background-color:rgba(20, 185, 245);
        /* box-shadow: 0 1px 3px 2px rgb(0, 0, 255); */
    }
    .modal-content input[type=submit]:hover,.modal-content input[type=button]:hover{
        background-color:rgba(183, 204, 237);
        color:rgba(32, 78, 150);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.76);
    }